<div class="body">

<p>
  The art party theme is open for all - boys and girls - of any age.
</p>
<p>
  Every participant will get an easle with a canvas.  Canvasses are pre-printed with a picture. <br>
  Each kid will be able to choose the picture he/she would like to paint.  Acrylic paints will be <br>
  provided along with brushes and a bottle with water.  A quick lesson will be given as to how to <br>
  paint and blending colours.
</p>
<p>
  The colours used are up to the participant.  At the end of the day the finished product can <br>
  be taken home.  Although each kid will be provided with an apron for the duration of the party <br>
  it is recommended that they wear older clothes as paint could be messed on them.
</p>
<p>
  PriceL R140 per person
</p>
</div>