
<div class="grid-container">
<div class="body">
<p>
  The art party theme is open for all - boys and girls - of any age.
</p>
<p>
  Every participant will get an easle with a canvas.  Canvasses are pre-printed with a picture. <br>
  Each kid will be able to choose the picture he/she would like to paint. For those that are <br>
  more accomplished, there is also the option to draw their own picture on a blank canvass. <br>
  Acrylic paints will be provided along with brushes and a bottle with water.  A quick lesson <br>
  will be given as to how to paint and blending colours.
</p>
<p>
  The colours used are up to the participant.  At the end of the day the finished product can <br>
  be taken home.  Although each kid will be provided with an apron for the duration of the party <br>
  it is recommended that they wear older clothes as paint could be messed on them.
</p>
<p>
  Price: R140 per person
</p>
<img src="../assets/photos/art 1.jpg" />
    <img src="../assets/photos/art 2.jpg" />
</div>
</div>
