<p class="body">
   An exciting new party venue is available for your next kids' - or grown-ups' - party.  We <br>
   offer a great variety of themes to choose from.  If you  cannot find a theme that inspires you <br>
   let us know what you would like and we will make it happen.
  
</p>
<p class="body">
    We are situated on a small holding near Meyerton and have ample space for children to play and <br>
    run around, while you relax with a cup of tea and watch them enjoy themselves.
 
</p>
